$size-grid: 80px;
$size-icon: 35px;
$size-name: 20px;

section.desktop {
  width: 100%;
  height: 100%;
  position: relative;

  display: grid;
  // TODO: posicionar los iconos en el escritorio por medio de la grilla
  // grid-template-columns: repeat(auto-fill, $size-grid);
  // grid-template-rows: repeat(auto-fill, $size-grid);
  align-content: center;
  justify-content: center;

  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 600;

  .access-container {
    width: $size-icon;
    height: $size-icon + $size-name;
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 1px;

    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    z-index: $z-index-window + 10;
    user-select: none;

    &.active {
      border: 1px solid $color-nord-white;
      background-color: rgba($color: $color-nord-grey, $alpha: 0.4);
    }

    &:not(.active):hover {
      background-color: rgba($color: $color-nord-white, $alpha: 0.2);
    }

    i {
      width: 100%;
      height: 100%;
      color: white;
      font-size: $size-icon;
      line-height: $size-icon;
    }

    span {
      font-size: 0.8rem;
      font-weight: 400;
      line-height: $size-name;
    }
  }
}
