header {
  height: $height-header;
  width: 100%;
  background-color: black;

  // TODO: por ahora flex, pero creo que mejor grid
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  font-size: 0.8rem;
  color: white;

  span {
    margin-left: 10px;
    margin-right: auto;
  }

  .time {
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
}

main {
  height: calc(100vh - 40px);
  background-image: url('../images/wallpaper-uwu.png');
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }
}
