header {
  height: $height-header;
  width: 100%;
  background-color: $color-nord-black;
  @extend %disable-selection;

  .taskbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 10px;
    color: white;
    font-size: 0.9rem;

    .desktop {
      display: flex;
      align-items: center;
      z-index: 1;

      .home {
        i {
          width: $width-icon-bar;
          text-align: center;
          font-size: $size-icon-bar;
          line-height: $height-header;
        }
      }

      .desktop-list {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        align-items: center;
        margin-left: 10px;

        .desktop-card,
        .desktop-add {
          cursor: pointer;
          width: $width-icon-bar;
          text-align: center;
          line-height: $height-header;
        }

        .desktop-card {
          &.active {
            border-bottom: 2px solid $color-nord-blue;
          }
        }

        .desktop-add {
          font-size: 22px;
        }
      }
    }

    .date {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 0.8rem;
      font-weight: 500;
      line-height: $height-header;
      z-index: 0;
    }

    .tool {
      height: 100%;
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      align-items: center;
      z-index: 1;

      i,
      svg {
        cursor: pointer;
        font-weight: 100;
      }

      i {
        width: $width-icon-bar;
        text-align: center;
        line-height: $height-header;
        font-size: $size-icon-bar;
      }

      svg {
        height: 100%;
        width: $size-icon-bar;
        padding: 0 7.5px;
      }
    }
  }
}

main {
  height: calc(100vh - #{$height-header});
  background-image: url('../images/wallpaper-uwu.png');
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;

  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;

  .before {
    width: 100%;
    height: calc(100vh - #{$height-header});
    position: absolute;
  }
}
