$size-border: 1px;

section.widget-side {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  li.box {
    cursor: pointer;
    width: $size-box;
    height: $size-box;
    position: relative;

    border: $size-border solid rgba($color: black, $alpha: 0.5);
    border-radius: 11px;
    background-color: $color-nord-black;
    text-align: center;
    transition: all 0.15s ease-in;

    svg {
      width: $size-icon-box + 5;
      height: $size-box;
      fill: #5e81ac;
    }

    i {
      width: 100%;
      height: 100%;
      color: $color-nord-white;
      font-size: $size-icon-box;
      line-height: $size-box;

      &.fa-firefox {
        color: $color-nord-yellow;
      }
      &.fa-folder {
        color: $color-nord-blue;
      }
      &.fa-terminal {
        color: $color-nord-white;
      }
      &.fa-paint-brush {
        color: #88c0d0;
      }
      &.fa-spotify {
        color: #a3be8c;
        font-size: $size-icon-box + 5;
      }
    }

    &::before {
      content: '';
      width: calc(100% - 2px);
      height: calc(100% - 2px);

      position: absolute;
      top: 0;
      left: 0;

      border: 1px solid rgba($color: $color-nord-white, $alpha: 0.1);
      border-radius: 11px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    align-items: flex-end;
    justify-content: center;

    padding: 0;
    margin: 0;

    &.z-visible {
      z-index: $z-index-window + 10;
    }

    &.apps li.box {
      &.active::after {
        content: '•';
        position: absolute;
        left: -10px;

        color: $color-nord-white;
        text-align: center;
        font-size: 24px;
        line-height: 48px;
      }

      &:hover {
        transform: translateX(8px);
      }
    }

    &.power li.box {
      &:hover {
        transform: translateX(-8px);
      }
    }
  }
}
