$size-header: 30px;
$size-radius: 8px;
$size-header-browser: 28px;

%active-buttons {
  span {
    &:nth-child(1) {
      background-color: $color-nord-green;
    }
    &:nth-child(2) {
      background-color: $color-nord-yellow;
    }
    &:nth-child(3) {
      background-color: $color-nord-red;
    }
  }
}

.app-window {
  width: calc(100vw / 2);
  height: calc(100vh / 2 - #{$size-header / 2});
  display: none;
  position: absolute;
  z-index: $z-index-window;

  border: 1px solid $color-nord-grey;
  border-radius: $size-radius;
  background-color: $color-nord-black;

  font-family: 'Firamono';
  font-size: 0.8rem;
  color: $color-nord-white;
  $padding-header: 10px;

  header {
    width: 100%;
    height: $size-header;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    text-align: center;
    line-height: $size-header;

    .separator {
      width: calc(70px + #{$padding-header});
    }

    .buttons {
      width: 70px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: $padding-header;

      span {
        cursor: pointer;
        width: 18px;
        height: 18px;
        display: inline-block;

        border: none;
        border-radius: 50%;
        background-color: $color-nord-grey;
      }

      &:hover {
        @extend %active-buttons;
      }
    }
  }

  .body {
    width: auto;
    height: calc(100% - #{$size-header});
    position: relative;

    &.header-browser {
      height: calc(100% - #{$size-header} - #{$size-header-browser} - 10px);
    }

    & > div {
      height: 100%;
      width: 100%;

      iframe {
        height: 100%;
        width: 100%;
      }

      &#browser {
        .search-bar {
          height: $size-header-browser;
          display: grid;

          grid-template-columns: 14% calc(72% - 40px) 14%;
          grid-template-rows: 100%;
          align-items: center;
          justify-content: space-between;

          padding: 5px 10px;
          background-color: #000;

          .navegation,
          .menu i {
            font-size: 18px;
          }

          .navegation {
            display: flex;
            flex-direction: row;
            column-gap: 12px;
            align-items: center;
            justify-content: flex-start;
          }

          .input {
            width: 100%;
            height: 100%;
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            border: 1px solid $color-white-lite;
            border-radius: 1.6px;
            background-color: #474749;

            .icons {
              height: 100%;
              width: 60px;

              i {
                font-size: 14px;
                line-height: $size-header-browser;
                color: $color-white-lite;
                margin-left: 10px;
              }

              span {
                border-right: 1.1px solid $color-white-lite;
                font-size: 16px;
              }
            }

            input {
              width: 100%;
              height: 100%;
              padding: 0;

              border: none;
              background-color: #474749;
              color: $color-nord-white;

              &:focus {
                outline: none;
              }
            }
          }

          .menu {
            display: flex;
            flex-direction: row;
            column-gap: 12px;
            align-items: unset;
            justify-content: flex-end;

            i {
              line-height: $size-header-browser + 10;
            }

            span {
              border-right: 1.1px solid $color-white-lite;
            }
          }
        }
      }

      &#terminal textarea {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        padding: 10px;
        overflow-y: scroll;
        @include scroll-custom;

        border: none;
        border-radius: $size-radius;
        background-color: transparent;

        font-size: 0.9rem;
        color: $color-nord-blue;
        resize: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  &.show {
    display: block;
  }

  &.maximize {
    width: 100%;
    height: calc(100% - #{$height-header});
    top: $size-header !important;
    left: 0 !important;
    border-radius: 0;
    z-index: $z-index-window + 1;
  }

  &.focus header .buttons {
    @extend %active-buttons;
  }
}
