$size-header: 30px;
$size-radius: 8px;

%active-buttons {
  span {
    &:nth-child(1) {
      background-color: $color-nord-green;
    }
    &:nth-child(2) {
      background-color: $color-nord-yellow;
    }
    &:nth-child(3) {
      background-color: $color-nord-red;
    }
  }
}

.app-window {
  width: calc(100vw / 2);
  height: calc(100vh / 2 - #{$size-header / 2});
  display: none;
  position: absolute;
  z-index: $z-index-window;

  border: 1px solid $color-nord-grey;
  border-radius: $size-radius;
  background-color: $color-nord-black;

  font-family: 'Firamono';
  font-size: 0.8rem;
  color: $color-nord-white;
  $padding-header: 10px;

  header {
    width: 100%;
    height: $size-header;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    text-align: center;
    line-height: $size-header;

    .separator {
      width: calc(70px + #{$padding-header});
    }

    .buttons {
      width: 70px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: $padding-header;

      span {
        cursor: pointer;
        width: 18px;
        height: 18px;
        display: inline-block;

        border: none;
        border-radius: 50%;
        background-color: $color-nord-grey;
      }

      &:hover {
        @extend %active-buttons;
      }
    }
  }

  .body {
    width: auto;
    height: calc(100% - #{$size-header} - 40px);
    padding: 20px;

    textarea {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      @include scroll-custom;

      border: none;
      border-radius: $size-radius;
      background-color: transparent;

      font-size: 0.9rem;
      color: $color-nord-blue;
      resize: none;

      &:focus {
        outline: none;
      }
    }
  }

  &.show {
    display: block;
  }

  &.maximize {
    width: 100%;
    height: calc(100% - #{$height-header});
    top: $size-header !important;
    left: 0 !important;
    border-radius: 0;
    z-index: $z-index-window + 1;
  }

  &.focus header .buttons {
    @extend %active-buttons;
  }
}
