.display-lock {
  padding-top: $height-header;

  display: grid;
  grid-template-rows: repeat(auto-fill, calc(100% / 3));
  grid-template-columns: 100%;

  color: $color-nord-white;
  text-align: center;

  span {
    &.date {
      font-size: 10rem;
      margin: auto;
      margin-bottom: 0;

      span {
        &:first-of-type {
          font-weight: 300;
        }
        &:last-of-type {
          font-weight: 100;
        }
      }
    }

    &.time {
      font-size: 1.7rem;
      font-weight: 400;
    }

    &.text {
      font-size: 1.8rem;
      font-weight: 100;
      margin: auto;
    }
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;

    background-image: url('../images/wallpaper-uwu.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;

    filter: blur(1.5px);
    z-index: -1;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;

    background-color: rgba($color: #000000, $alpha: 0.2);
    z-index: -1;
  }
}
