// FONT-ROBOTO

@font-face {
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
  font-family: 'Roboto';
  font-weight: 800;
}

@font-face {
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-family: 'Roboto';
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-family: 'Roboto';
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-family: 'Roboto';
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-family: 'Roboto';
  font-weight: 200;
}

@font-face {
  src: url('../fonts/Roboto-Thin.ttf') format('truetype');
  font-family: 'Roboto';
  font-weight: 100;
}

// FONT-FIRAMONO

@font-face {
  src: url('../fonts/FiraMono-Bold.ttf') format('truetype');
  font-family: 'Firamono';
  font-weight: 700;
}

@font-face {
  src: url('../fonts/FiraMono-Medium.ttf') format('truetype');
  font-family: 'Firamono';
  font-weight: 500;
}

@font-face {
  src: url('../fonts/FiraMono-Regular.ttf') format('truetype');
  font-family: 'Firamono';
  font-weight: 400;
}

body {
  font-family: 'Roboto', sans-serif;
}
