// COLORS
$color-disk: #f0d181;
$color-back-figure: #0000006e;
$color-black: #242933;
$color-font-widget: #e8ebf0;
$color-font-blue: #81a5aa;
$color-purple: #736887;
$color-back-blue: #8d9cb3;
$color-font-red: #c26062;

// SIZES
$height-header: 30px;
$size-icon-bar: 15px;
$width-icon-bar: 30px;
