// COLORS
$color-back-figure: #0000006e;
$color-nord-black: #2e3440;
$color-nord-yellow: #ebcb8b;
$color-nord-white: #e5e9f0;
$color-nord-green: #8fbcbb;
$color-nord-blue: #81a1c1;
$color-nord-red: #bf616a;

// SIZES
$height-header: 30px;
$size-icon-bar: 15px;
$width-icon-bar: 30px;
$size-box: 48px;
$size-icon-box: 18px;
$z-index-window: 1000;
