* {
  // outline: 1px solid #4dbb7b !important;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@import 'typography';
@import 'variables';
@import 'utils/extends', 'utils/mixins';
@import 'components/button', 'components/input';
@import 'views/home', 'views/widget-center', 'views/widget-side', 'views/window';
